body, html {
  height: 100%;
  background-color: #860006;
}


.bg {
  /* The image used */
  background-image: url("images/instruments.jpg");

  /* Full height */
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg h1 {
  position: relative;
  top: 88%; 
  transform: translateY(-88%);
  -webkit-transform: translateY(-88%);
}

h1 {
  font-size: 60px;
  text-align: center;
  color: white;
}

.picture {
  width: 350px;
  height: 350px;
  max-width: 350px;
  max-height: 350px;
  margin-bottom: 20px;
  border-width: medium;
  border-color: black;
  border-style: solid;
}

.instrument_name {
  text-align: center;
  font-size: 40px;
  color: white;
}

button {
  background-color: #272C31;
  border-color: #000000;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;
  color: #FFFFFF;
}